body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase; /*Se colocarmos no html o nome maiúsculo os buscadores entendem como sigla*/
    font-size: 3em;
}

.titulo-principal {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
}

main a {
    color: #851944;
}

main p {
    text-align: justify;
    margin: 1em 0;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    /*margin: auto - tbm poderia ser usado*/
    padding: 1.5em 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github {
    background-image: url(../imagens/github.png); 
    /*Image replacement - imagens secundárias que não devem ser indexadas pelos buscadores não precisam estar no html*/
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

main {
    width: 80%;
    float: left;
    padding-bottom: 4em;
}

.minha-foto,
.navegacao-site {
    border-left: .5em solid black;
    border-bottom: .5em solid black;
    box-sizing: border-box;
}

.navegacao-site {
    width: 20%;
    float: right;
    position: relative;
    top: 300px;
    /*Quando usamos a declaração position: relative, as propriedades top, left, bottom e right 
    fazem com que o elemento se desloque com relação à sua posição original, tanto quanto desejarmos. */
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}

div.teste {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid red;
    border-right: 30px solid red;
    width: 0;
}

/*
Unidades de medida

em - tem como base o tamanho da font do elemento a que está relacionada.
ex:

p {
    font-size: 20px;
    margin: 1em;
} //1em = 20px

rem - O tamanho de fonte do elemento html ou, se não houver tamanho de fonte definido neste elemento, 
o tamanho de fonte padrão do navegador.

ex:

html {
    font-size: 25px;
}

p {
    margin: 1rem;
} //Logo, todos os parágrafos nesse exemplo terão 25 pixels de margem.

//É interessante usarmos em quando queremos que a mudança de tamanho se propague pela página

*/
