body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
}

h1 {
    text-transform: uppercase; /*Se colocarmos no html o nome maiúsculo os buscadores entendem como sigla*/
}

h2 {
    font-size: 30px;
}

main a {
    color: #851944;
}

p {
    text-align: justify;
    margin: 20px 0;
}

blockquote {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    box-sizing: border-box;
    width: 250px;
    margin: 20px 40px;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
}

#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: lowercase;
}
   
blockquote, aside, footer {
    padding: 20px;
}

div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    /*margin: auto - tbm poderia ser usado*/
}   

main div {
    padding: 30px 0;    
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

div.teste {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid red;
    border-right: 30px solid red;
    width: 0;
}

.icones-redes-sociais li{
    display: inline-block;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.leia-mais {
    font-size: 24px;
    padding: 8px;
    margin: 16px;
    display: block;
    text-align: center;
    background-color: #E6E7E8;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}

.github {
    background-image: url("github.png"); /*Image replacement - imagens secundárias que não devem ser indexadas pelos buscadores não precisam estar no html*/
}

.twitter {
    background-image: url("twitter.png");
}

.linkedin {
    background-image: url("linkedin.png");
}